<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active" style="filter: brightness(50%); height: 650px; width: 100%;">
            <img src="https://gestfuturo.com/wp-content/uploads/2017/06/Recambios.jpg" class="d-block w-100" alt="Start" >
            <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
        </div>
        <div class="carousel-item" style="filter: brightness(50%); height: 650px; width: 100%;">
            <img src="https://www.tallerdetornosmh.com/wp-content/uploads/2020/02/fabricaci%CC%81on-de-piezas.jpg" class="d-block w-100" alt="Mid" >
            <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
        </div>
        <div class="carousel-item" style="filter: brightness(50%); height: 650px; width: 100%;">
            <img src="https://img.freepik.com/fotos-premium/fundo-com-componentes-mecanicos-engrenagens-molas-parafusos-objetos-industriais_218715-1202.jpg" class="d-block w-100" alt="Finish">
            <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the final slide.</p>
      </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

//Carrusel de iconos

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <i class="fi fi-brands-facebook"></i>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>

</div>